.logo {
  width: 120px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 20px 10px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}
.logo {
  background: rgba(255, 255, 255, 0.3);
}
