.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64c7cc;
  margin: 86.6px 0;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 38.934px;
}

.hexagon:before {
  top: -106.066px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexagon:after {
  bottom: -106.066px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}
